<!-- nav -->
<input type="checkbox" id="check">
<label for="check" class="checkbtn ">
    <img src="/images/complement/favicon.webp" alt="" class="rounded-circle">
</label>

<nav class="float-start nav" >
<a href="/">หน้าแรก</a>
<a href="">ค้นหา</a>
<a href="/form">เพื่มมังงะ</a>
<a href="/manage">จัดการ</a>
<a href=""><"account"></a>
</nav>
<!-- endnav -->